body {
  background-color: #b6d4aa;
  margin: 0;
}

.parallax-item {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-item img {
  max-width: 100%;
  max-height: 100%;
}
